---
---
// Import fonts
@font-face {
  font-family: 'Oswald';
  src: url('/assets/Oswald-VariableFont_wght.ttf') format("woff2-variations");
}
@font-face {
  font-family: 'Quicksand';
  src: url('/assets/Quicksand-VariableFont_wght.ttf') format("woff2-variations");
}
@font-face {
  font-family: 'Lato-Light';
  src: url('/assets/Lato-Light.ttf') format("truetype");
}
@font-face {
  font-family: 'Lato-Regular';
  src: url('/assets/Lato-Regular.ttf') format("truetype");
}
@font-face {
  font-family: 'Lato-Medium';
  src: url('/assets/Lato-Medium.ttf') format("truetype");
}
@font-face {
  font-family: 'Lato-Italic';
  src: url('/assets/Lato-Italic.ttf') format("truetype");
}
@font-face {
  font-family: 'IBMPlexSans-Medium';
  src: url('/assets/IBMPlexSans-Medium.ttf') format("truetype");
}
@font-face {
  font-family: 'WorkSans-Italic';
  src: url('/assets/WorkSans-Italic-VariableFont_wght.ttf') format("truetype");
}
@font-face {
  font-family: 'UbuntuMono-Regular';
  src: url('/assets/UbuntuMono-Regular.ttf') format("truetype");
}

// Helper functions
@function pow($base, $exponent) {
  $result: 1;
  @for $_ from 1 through $exponent {
    $result: $result * $base;
  }
  @return $result;
}



// Side margins
$sizes: 0px, 576px, 992px, 1200px;
$size_labels: "small", "medium", "large", "x-large";
// s: 0-576px: phones
// m: 576-992px: landscape phones, split-view desktops
// l: 992px-1200px: tablets/small desktops
// xl: 1200px-?: large desktops
@mixin media_queries ($property, $values) {
  @for $i from 1 through length($sizes) {
    $size: nth($sizes, $i);
    $value: nth($values, $i);
    @media screen and (min-width: $size) {
      #{$property}: $value
    }
  }
}

// Colour scheme
$white-af: #ffffff;
$off-white: #f9f9f9;
$not-rlly-white: #dbdbdb;
$see-through-white: rgba($white-af, 0.5);
$black-af: #000000;
$off-black: #111111;
$not-rlly-black: #373737;

$theme-blue: #0F3278;
$theme-greenish-blue: #063A57;
$theme-pale-blue: #DFE8FB;

$page-header-padding: 3.25rem 0 2.75rem 0;


// Reset some basic elements
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}
a {
  display: block;
  color: $off-black;
  text-decoration: none; /* no underline */
}

// Set box-sizing
* {
  box-sizing: border-box;
}

// Default font/scroll properties
html {
  font-family: 'Lato-Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 100%;
  color: $off-black;
  scroll-behavior: smooth;
}

// Page properties
$end-page-breathing-space: 3rem;
.page-content > * {
  padding-bottom: $end-page-breathing-space; // extra breathing space at the bottom of the page
}

// Container styles
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// Custom scrollbar TODO: Custom scrollbar
body::-webkit-scrollbar {
  display: none;
}

// ensure page background covers at least all the remaining space below the header
html {
  height: 100%;
  
  > body {
    display: flex;
    flex-direction: column;
    height: 100%;

    >.header {
      flex: 0 0;
    }
    >.page-content {
      flex: 1 1;

      > :first-child {
        height: 100%;
      }
    }
  }
}

$min-main-tab-width: 4rem;
.header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: $white-af;
  box-shadow: 0px 6px 16px 0px rgba($not-rlly-black, 0.06);

  >.flex-row {
    margin: 0 $min-main-tab-width;
    @include media_queries(width, 0 700px 900px 900px);
    justify-content: space-evenly;
  }

  .tab {
    $tab-padding-y: 0.6rem;
    font-family: 'Oswald';
    font-size: 1.2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    @include media_queries(width, 0 8rem 9rem 10rem);
    @include media_queries(display, none flex flex flex);
    padding: $tab-padding-y 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-radius: 4px;
  
    &.tab_main {
      position: absolute;
      padding: $tab-padding-y 0;
      left: 0;
      @include media_queries(width, 0 $min-main-tab-width 8rem 10rem);
      // background: red; // TODO: replace with a lihaan when large enough
    }

    &:hover {
      color: rgba($theme-blue, 1);
      transition: transform 0.1s ease-out,
    }
  
    &::after {
      content: '';
      position: absolute;
      left: 49%;
      bottom: 0.5rem;
      width: 2%;
      height: 2px;
      background: $theme-blue;
      opacity: 0;
      transition: transform 0.1s ease-out, opacity 0.15s ease-out;
    }

    &:hover::after {
      opacity: 1;
      transform: scale3d(30, 1, 1);
      transition: transform 0.1s ease-out;
    }

    &.active {
      color: rgba($theme-blue, 1);
    }

    &.active::before {
      position: absolute;
      content: '';
      width: 8rem;
      height: 8rem;
      background: $theme-pale-blue;
      border-radius: 50%;
      z-index: -1;
    }
  
    // &:hover::before {
    //   transform: scale3d(70, 70, 1);
    //   opacity: 1;
    //   background: rgba($white-af, 0);
    //   transition: opacity 0.3s ease-out, background-color 0.3s ease-out, transform 0.3s ease-out;
    // }

    // &.active::before {
    //   position: absolute;
    //   content: '';
    //   opacity: 1;
    //   width: 5rem;
    //   height: 5rem;
    //   background: $theme-pale-blue;
    //   border-radius: 50%;
    // }
  }
}


.home {
  background: linear-gradient(180deg, $theme-greenish-blue 0%, $off-black 100%);
}
.list_posts {
  background: $off-white;
}


.introduction {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: $page-header-padding;

  $intro-flex-row-width: 100%, 80%, 775px, 850px;
  >.flex-row {
    flex-wrap: wrap;
    justify-content: center;
    @include media_queries(width, $intro-flex-row-width);
  }

  $line-spacing: 2em;
  &::before {
    right: $line-spacing;
  }
  &::after {
    left: $line-spacing;
  }
  &::after, &::before {
    content: "";
    position: absolute;
    background: rgba($theme-pale-blue, 0.25);
    @include media_queries(width, 0 0 calc((100% - #{nth($intro-flex-row-width, 3)}) / 2 - 2 * #{$line-spacing}) calc((100% - #{nth($intro-flex-row-width, 4)}) / 2 - 2 * #{$line-spacing}));
    height: 1px;
  }

  $pic-ratio: 45%, 30%, 30%, 30%;
  $margin-right-ratio: 0 8% 8% 8%;
  // nth($pic-ratio, 1) and nth($info-ratio, 1) must >100% to force a flex-wrap
  $info-ratio: 75%, 100% - nth($pic-ratio, 2) - nth($margin-right-ratio, 2), 100% - nth($pic-ratio, 3) - nth($margin-right-ratio, 3), 100% - nth($pic-ratio, 4) - nth($margin-right-ratio, 4);
  .profile_pic {
    @include media_queries(width, $pic-ratio);
    @include media_queries(margin-bottom, 1rem 0 0 0);
    @include media_queries(margin-right, $margin-right-ratio);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    border-radius: 50%;
    border: 8px solid rgba($theme-pale-blue, 0.05);
  
    img {
      max-height: 100%;
      max-width: 100%;
      border-radius: 1000px;
      object-fit: contain;
    }
  }
  
  .profile_info {
    @include media_queries(width, $info-ratio);
  
    .main {
      font-family: 'Quicksand';
      font-size: 1.5rem;
      line-height: 150%;
      color: $off-white;
    }
    .details {
      font-family: 'Lato-Light';
      font-size: 1.15rem;
      line-height: 165%;
      color: $not-rlly-white;
      margin-top: 1rem;
    }
  
    >.flex-row {
      margin-top: 1.5rem;
      justify-content: space-between;
      .button {
        width: 30%;
      }
    }
  }

}


$button-shadow-size: 2px 6px 16px 0;
.button {
  min-width: 3rem;
  min-height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'IBMPlexSans-Medium';
  font-size: 0.9rem;
  border-radius: 8px;
  box-shadow: $button-shadow-size rgba($not-rlly-black, 0.15);
  position: relative;
  overflow: hidden;

  &.linkedin {
    background: #2467C2;
    color: $white-af;
  }
  &.github {
    background: $white-af;
    color: $black-af;
  }
  &.behance {
    background: $white-af;
    color: #4176f9;
  }

  img {
    position: relative; // needed to make it appear in front of animation
    width: 1.5rem
  }

  .label {
    position: relative; // needed to make it appear in front of animation
    margin: 0 0 0 0.75rem;
    @include media_queries(display, none none inline inline);
  }

  &::before {
    position: absolute;
    content: '';
    width: 4px;
    height: 4px;
    background: $not-rlly-black;
    opacity: 0;
    border-radius: 50%;
  }

  &:hover::before {
    transform: scale3d(70, 70, 1);
    opacity: 1;
    background: rgba($white-af, 0);
    transition: opacity 0.3s ease-out, background-color 0.3s ease-out, transform 0.2s ease-out;
  }

  transition: transform 0.4s ease-out;
  &:hover {
    transform: translate3d(0, -0.2rem, 0);
    box-shadow: 3px 9px 24px 0 rgba($off-black, 0.2);
  }
}

$home-card-padding-x: 1.5rem;

.featured {
  display: flex;
  flex-direction: row;
  justify-content: center;

  >.flex-col {
    @include media_queries(width, 87.5% 87.5% 85% 80%);
    max-width: 1200px;
  }

  .page_title {
    font-family: 'Lato-Medium';
    font-size: 1.5rem;
    color: $see-through-white;
    text-transform: uppercase;
    @include media_queries(text-align, center left left left);
    letter-spacing: 4px;
    line-height: 140%;
    padding-left: $home-card-padding-x;
  }

  li {
    list-style-type: none;
    @include media_queries(margin-bottom, 3rem 3rem 2rem 2rem);

    &:first-of-type {
      margin-top: 1rem;
    }
  }
}


.featured_item {
  display: flex;
  flex-direction: row;
  @include media_queries(flex-wrap, wrap-reverse nowrap nowrap nowrap);
  @include media_queries(align-content, flex-end normal normal normal);

  .info {
    @include media_queries(width, 100% 60% 45% 38%);
    background: $off-white;
    padding: 1rem $home-card-padding-x;
    @include media_queries(border-top-left-radius, 0px 6px 6px 6px);
    @include media_queries(border-top-right-radius, 0 0 0 0);
    @include media_queries(border-bottom-right-radius, 6px 0 0 0);
    @include media_queries(border-bottom-left-radius, 6px 6px 6px 6px);
    /* display: flex;
    flex-direction: column;
    max-height: 20rem;
    @include media_queries(min-height, 45vw 40vw 30vw 15vw); hard to ge the right values to make all list items the same height, still tolerable ui issue */
    transition: background-color 0.2s ease-out;

    .title {
      font-family: 'WorkSans-Italic';
      font-weight: 700;
      font-size: 2.4rem;
      line-height: 120%;
      letter-spacing: -0.5px;
      // flex: 1 1;

      &:hover {
        text-decoration: underline;
      }
    }

    .description {
      margin-top: 1.2rem;
      line-height: 150%;
      color: $not-rlly-black;
      font-size: 1.05rem;
      // flex: 1 1;
    }

    >.flex-row {
      margin-top: 2rem;
      // flex: 0 1;
    }
  }
  .graphic {
    @include media_queries(width, 100% 40% 55% 62%);
    @include media_queries(min-height, 12rem 0 0 0);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    @include media_queries(border-top-left-radius, 8px 0 0 0);
    @include media_queries(border-top-right-radius, 8px 8px 8px 8px);
    @include media_queries(border-bottom-right-radius, 0 8px 8px 8px);
    @include media_queries(border-bottom-left-radius, 0 0 0 0);
    
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      background: linear-gradient(180deg, rgba(12, 10, 26, 0.1) 0%, rgba(255, 255, 255, 0) 44.79%, rgba(255, 255, 255, 0) 57.8%, rgba(255, 255, 255, 0) 57.81%, rgba(12, 10, 26, 0.2) 100%);
    } 

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &:hover {
    .info {
      background: $white-af;
    }
  }


}


.tag {
  padding: 0.5rem 1.1rem;
  border-radius: 100px;
  margin-right: 1rem;
  font-family: 'Quicksand';
  font-weight: 700;
  font-size: 0.8rem;
  color: $off-black;
  text-align: center;

  &.data_science {
    background: #FFDD64;
  }
  &.machine_learning {
    background: #90F0A5;
  }
  &.mobile_app {
    background: #FFAC9A;
  }
  &.ui_design {
    background: #FFB4EE;
  }
  // placed last to have higher priority
  &.deselected {
    background: rgba($not-rlly-white, 0.4);
  }
}

.post {
  background: #F9F9F9;
}


$comfortable-reading-width: 85% 70% 650px 700px;

.post_header {
  padding-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;

  >.flex-col {
    @include media_queries(width, $comfortable-reading-width);

    .info {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-family: 'Quicksand';
      font-size: 1.1rem;
      font-variation-settings: 'wght' 700;
      letter-spacing: 1.5px;
      color: $not-rlly-black;
      text-transform: uppercase;
    }
  
    .title {
      margin-top: 2rem;
      font-family: 'WorkSans-Italic';
      font-variation-settings: 'wght' 600;
      font-size: 2.5rem;
      line-height: 140%;
      letter-spacing: -0.5px;
      color: $black-af
    }
  
    .description {
      font-family: 'Lato-Light';
      font-size: 1.6rem;
      line-height: 150%;
      color: $black-af;
      margin-top: 1rem;
      padding: 0.1rem 0 0.2rem 1.5rem;
      position: relative;
  
      &::before {
        content: '';
        position: absolute;
        width: 0.5rem;
        height: 100%;
        background: $theme-blue;
        top: 0;
        left: 0;
      }
    }
  
    .flex-row {
      margin-top: 2rem
    }
    .tag {
      font-size: 1rem;
      margin-right: 1.3rem;
    }
  }
}

.post_content {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;

  >.flex-col {
    @include media_queries(width, $comfortable-reading-width);

    $inter-para-spacing: 1.75rem;
    // $inter-content-spacing: 2.5rem;
    // >p + p {
    //   margin-top: $inter-para-spacing;
    // }
    // >p + :not(p),
    // >:not(p) + p,
    // >:not(p) + :not(p)  {
    //   margin-top: $inter-content-spacing;
    // }

    >* {
      margin-bottom: $inter-para-spacing;
    }
    h1,h2,h3,h4,h5,h6 {
      margin-bottom: 0;
    }
    h1 {
      padding-top: 1.75rem;
      padding-bottom: 1rem;
    }
    h2 {
      padding-top: 1.5rem;
      padding-bottom: 0.9rem;
    }
    h3 {
      padding-top: 1.25rem;
      padding-bottom: 0.8rem;
    }
    h4 {
      padding-top: 1rem;
      padding-bottom: 0.7rem;
    }
    h5 {
      padding-top: 0.75rem;
      padding-bottom: 0.6rem;
    }
    h6 {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  
    p {
      font-size: 1.25rem;
      line-height: 175%;
      color: $off-black;
    }
    li, li>p {
      font-size: 1.15rem;
      line-height: 170%;
    }
    li + li {
      margin-top: 0.75rem;
    }

    .post-image {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      >img {
        width: 100%;
        @include media_queries(min-height, 30vh 30vh 0 0);
        max-height: 55vh;
        object-fit: contain;
        border-radius: 2px;
      }

      >p {
        font-size: 1.05rem;
        color: rgba($black-af, 0.5);
        margin-top: 0.5rem;
        text-align: center;
        line-height: 150%;
      }
    }

    blockquote {
      font-family: 'Lato-Italic';
      font-size: 1.4rem;
      line-height: 170%;
      background: $theme-pale-blue;
      color: rgba($black-af, 0.8);
      padding: 1.2rem 1.2rem;
      letter-spacing: 0.5px;
      border-radius: 4px;
    }

    code {
      font-family: 'UbuntuMono-Regular';
      letter-spacing: 0.5px;
      white-space: break-spaces;
      font-size: 1.05rem;
    }

    .language-plaintext {
      line-height: 170%;
      background: $not-rlly-white;
      padding: 1.2rem 1.2rem;
      border-radius: 4px;
      color: rgba($black-af, 0.8);
    }

    code.language-plaintext {
      line-height: 175%;
      background: transparent;
      padding: 0;
      border-radius: 0px;
      color: $off-black;
    }

    ol, ul {
      margin-inline-start: 18px; // magic number based on size of arrow_bullet.svg
    }
    
  }

  .side_btn {
    position: absolute;
    @include media_queries(width, 0 0 2rem 3rem);
    @include media_queries(height, 0 0 2rem 3rem);
    background: $theme-pale-blue;
    border-radius: 50%;

    a {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      svg {
        width: 20%;
        fill: $white-af
      }
    }

    .flex-col {
      @include media_queries(display, none none flex flex);
      margin-top: 1rem;
      @include media_queries(width, 0 0 6rem 8rem);
      opacity: 0;

      .post_title_header {
        font-family: 'Quicksand';
        font-variation-settings: 'wght' 700;
        font-size: 1.1rem;
        line-height: 100%;
        color: $theme-blue;
      }

      .post_title {
        margin-top: 0.5rem;
        font-family: 'Quicksand';
        font-variation-settings: 'wght' 500;
        font-size: 1.1rem;
        line-height: 140%;
        color: $theme-blue;
      }
    }

    &:hover {

      .flex-col {
        transition: opacity 0.5s ease-out;
        opacity: 1;
      }

      svg {
        transition: fill 0.5s ease-out;
        fill: $theme-blue;
      }
    }

    $side-btn-spacing: 0 0 3rem 4rem;
    &.next_post{
      @include media_queries(left, 0 0 calc(50vw + #{nth($comfortable-reading-width, 3)} / 2 + #{nth($side-btn-spacing, 3)}) calc(50vw + #{nth($comfortable-reading-width, 4)} / 2 + #{nth($side-btn-spacing, 4)}));
      text-align: left;
      .flex-col {
        position: absolute;
        left: 0;
      }
    }
    &.prev_post{
      @include media_queries(right, 0 0 calc(50vw + #{nth($comfortable-reading-width, 3)} / 2 + #{nth($side-btn-spacing, 3)}) calc(50vw + #{nth($comfortable-reading-width, 4)} / 2 + #{nth($side-btn-spacing, 4)}));
      text-align: right;
      .flex-col {
        position: absolute;
        right: 0;
      }
    }
  }

}

.post_footer {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  >.back_to_top {
    color: $theme-blue;
    font-size: 1rem;

    &:hover {
      text-decoration: underline;
    }
  }

  $mini-profile-padding-x: 2rem;
  $mini-profile-width: 6rem 4rem 4rem 4rem;
  >.flex-row {
    margin-top: 1rem;
    @include media_queries(width, $comfortable-reading-width);
    justify-content: center;
    background: $theme-pale-blue;
    padding: 1.5rem $mini-profile-padding-x;
    border-radius: 4px;
    @include media_queries(flex-wrap, wrap nowrap nowrap nowrap);

    .mini_profile {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      >.flex-col{
        align-items: center;
        @include media_queries(flex-direction, row column column column);

        >.profile_pic {
          @include media_queries(width, $mini-profile-width);
          img {
            width: 100%;
          }
        }
  
        .name {
          margin-top: 0.25rem;
          text-align: center;
          font-family: 'Quicksand';
          @include media_queries(font-size, 1.5rem 1.4rem 1.4rem 1.4rem);
          font-variation-settings: 'wght' 400;
          color: $not-rlly-black;
          white-space: nowrap;
          @include media_queries(margin-left, 1rem 0 0 0 0);
        }
      }

      &:hover {
        text-decoration: underline;
      }

    }

    .separator {
      width: 1px;
      align-self: stretch;
      background: rgba($black-af, 0.2);
      margin: 0 $mini-profile-padding-x;
      @include media_queries(display, none block block block);
    }

    .related_posts {
      @include media_queries(width, 100% calc(100% - #{nth($mini-profile-width,2)}) calc(100% - #{nth($mini-profile-width,3)}) calc(100% - #{nth($mini-profile-width,4)}));
      @include media_queries(margin-top, 1rem 0 0 0);

      .title {
        font-family: 'Quicksand';
        font-size: 1.2rem;
        font-variation-settings: 'wght' 600;
        color: $off-black;
      }

      ul {
        list-style-image: url('/assets/arrow_bullet.svg');
        margin-inline-start: 24px; // magic number based on size of arrow_bullet.svg
        list-style-position: outside;

        li {
          margin-top: 0.5rem;
          a {
            font-family: 'Quicksand';
            font-size: 1.1rem;
            font-variation-settings: 'wght' 500;
            color: $theme-blue;
            line-height: 150%;

            &:hover {
              text-decoration: underline;
              font-variation-settings: 'wght' 600;
            }
          }
        }
      }
    }

  }
}

.list_posts {

  .list_posts_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, $theme-greenish-blue 0%, $off-black 100%);
    padding: $page-header-padding;
  

    $lists-posts-width: 85% 70% 550px 550px;
    .flex-col {
      @include media_queries(width, $lists-posts-width);

      .title {
        font-family: 'Quicksand';
        font-size: 1.75rem;
        color: $white-af;
        text-align: center;
        letter-spacing: 0.5px;
      }

      .description {
        font-family: 'Lato-Light';
        font-size: 0.9rem;
        line-height: 165%;
        color: $not-rlly-white;
        margin-top: 0.5rem;
        text-align: center;
        letter-spacing: 0.3px;
      }

      .searchbox {
        margin-top: 2.5rem;
        box-shadow: 4px 8px 20px 0 rgba($off-black, 0.3);

        input {
          outline: none;
          border: none;
          padding: 0.8rem 1rem;
          font-family: 'Quicksand';
          color: $black-af;
          font-size: 1.25rem;
          font-variation-settings: 'wght' 500;
          letter-spacing: 1px;
          width: 100%;
          border-radius: 8px;
        }
        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
          color: rgba($black-af, 0.5);
          opacity: 1; /* Firefox */
        }
        :-ms-input-placeholder { /* Internet Explorer 10-11 */
          color: rgba($black-af, 0.5);
        }
        ::-ms-input-placeholder { /* Microsoft Edge */
          color: rgba($black-af, 0.5);
        }

        input:focus {
          box-shadow: 4px 8px 20px 0 rgba($off-black, 1);
        }
      }

      .tags_header {
        margin-top: 1.5rem;
        font-family: 'Quicksand';
        font-size: 1rem;
        color: $off-white;
      }

      >.flex-row {
        margin-top: 0.7rem;
      }
    }
  }

  .list_posts_content {
    &::before {
      content: '';
      position: fixed;
      bottom: 0;
      width: 100%;
      @include media_queries(height, 0rem 4rem 6rem 6rem);
      background: linear-gradient(0deg, $off-white 0%, $off-white 25%, rgba($off-white, 0) 100%);
    }
  }

}

$list-item-post-overall-padding: 1.5rem;
$list-item-article-text-padding: 0.5rem;
$list-item-project-article-padding-y: 1rem;

.content_header {
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding: 2rem 0 1rem 0;
  position: sticky;
  top: 0;
  background: linear-gradient(180deg, $off-white 0%, rgba($off-white, 0.85) 30%, rgba($off-white, 0) 100%);

  .date_selector {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem $list-item-post-overall-padding;
    border-radius: 4px;
    background: $theme-pale-blue;

    .month {
      font-family: 'Quicksand';
      font-variation-settings: 'wght' 600;
      text-transform: uppercase;
      text-align: left;
      width: 5.5rem;
      font-size: 1.25rem;
      color: $theme-blue;
    }

    >svg {
      margin: 0 0.5rem 0 1.2rem;
      fill: $theme-blue;
      width: 0.5rem;
    }
  }
}

.blog {
  display: flex;
  flex-direction: row;
  justify-content: center;

  >.flex-col {
    @include media_queries(width, 95% 85% 650px 750px);
  }

  ul {

    .list_item_article {
      display: flex;
      flex-direction: row;
      @include media_queries(flex-wrap, wrap-reverse nowrap nowrap nowrap);
      list-style-type: none;
      background: #fff;
      border-radius: 4px;
      padding: $list-item-post-overall-padding - $list-item-article-text-padding;
      box-shadow: 2px 6px 16px 0 rgba($off-black, 0.06);
      margin-bottom: 1.5rem;
    

      $text-ratio: 100%, 60%, 60%, 60%;
      $margin-right-ratio: 0 4% $list-item-post-overall-padding $list-item-post-overall-padding;
      $graphic-ratio: 100%, calc(100% - #{nth($text-ratio, 2)} - #{nth($margin-right-ratio, 2)}), calc(100% - #{nth($text-ratio, 3)} - #{nth($margin-right-ratio, 3)}), calc(100% - #{nth($text-ratio, 4)} - #{nth($margin-right-ratio, 4)});
      // nth($pic-ratio, 1) and nth($info-ratio, 1) must >100% to force a flex-wrap

      .text_content {
        width: 100%;
        @include media_queries(padding, 0 $list-item-article-text-padding $list-item-article-text-padding $list-item-article-text-padding);
        &.withimage {
          @include media_queries(width, $text-ratio);
          @include media_queries(margin-right, $margin-right-ratio);
          @include media_queries(margin-top, $list-item-article-text-padding 0 0 0);
          padding-right: 0;
        }

        .title {
          font-family: 'WorkSans-Italic';
          font-size: 1.6rem;
          font-variation-settings: 'wght' 550;
          color: $off-black;
          line-height: 125%;
          letter-spacing: -0.5px;
          padding-bottom: 0.5rem;

          &:hover {
            text-decoration: underline;
          }
        }

        .description {
          font-family: 'Lato-Light';
          font-size: 1.1rem;
          line-height: 150%;
          color: $black-af;
        }

        >.flex-row {
          margin-top: 1.2rem;
        }
      }

      .image_content {
        @include media_queries(width, $graphic-ratio);
        max-height: 15rem;

        >img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 2px;
        }
      }
    }
  }
}

.projects {
  display: flex;
  flex-direction: row;
  justify-content: center;

  >.flex-col {
    @include media_queries(width, 95% 85% 650px 750px);
  }

  ul {

    
    .list_item_project:nth-child(2n+1) {
      margin-right: 5%;
    }
    .list_item_project:nth-child(2n+2) {
      margin-left: 5%;
    }

    .list_item_project {
      display: inline-flex;
      flex-direction: column;
      width: 45%;
      list-style-type: none;
      border-radius: 4px;
      overflow: hidden;
      box-shadow: 2px 6px 16px 0 rgba($off-black, 0.06);
      margin-bottom: 1.5rem;

      .image_content {
        height: 13rem;
        position: relative;

        >img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 2px;
        }

        .title {
          font-family: 'WorkSans-Italic';
          font-size: 1.6rem;
          font-variation-settings: 'wght' 550;
          letter-spacing: -0.5px;
          color: $off-white;
          line-height: 125%;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          position: absolute;
          height: 100%;
          width: 100%;
          padding: $list-item-project-article-padding-y/2 $list-item-post-overall-padding;
          bottom: 0;
          background: linear-gradient(180deg, rgba($not-rlly-black, 0) 0%, rgba($not-rlly-black, 0) 30%, rgba($not-rlly-black, 0.20) 60%, rgba($not-rlly-black, 0.65) 100%);
          transition: background-color 0.15s ease-out, font-size 0.15s ease-out, padding-bottom 0.15s ease-out;

          &:hover {
            background: rgba($off-black, 0.8);
            font-size: 1.7rem;
            padding-bottom: $list-item-project-article-padding-y;
          }
        }
      }

      .text_content {
        height: 11rem;
        width: 100%;
        background: #fff;
        padding: $list-item-project-article-padding-y $list-item-post-overall-padding;
        position: relative;

        .description {
          font-family: 'Lato-Light';
          font-size: 1.1rem;
          line-height: 150%;
          color: $black-af;
        }

        >.flex-col {
          position: absolute;
          bottom: $list-item-project-article-padding-y;

          >.flex-row {
            
          }
        }
      }
    }
  }
}