---
---
// Import fonts
@font-face {
  font-family: 'Oswald';
  src: url('/assets/Oswald-VariableFont_wght.ttf') format("woff2-variations");
}
@font-face {
  font-family: 'Quicksand';
  src: url('/assets/Quicksand-VariableFont_wght.ttf') format("woff2-variations");
}
@font-face {
  font-family: 'Lato-Light';
  src: url('/assets/Lato-Light.ttf') format("truetype");
}
@font-face {
  font-family: 'Lato-Regular';
  src: url('/assets/Lato-Regular.ttf') format("truetype");
}
@font-face {
  font-family: 'Lato-Medium';
  src: url('/assets/Lato-Medium.ttf') format("truetype");
}
@font-face {
  font-family: 'Lato-Italic';
  src: url('/assets/Lato-Italic.ttf') format("truetype");
}
@font-face {
  font-family: 'IBMPlexSans-Medium';
  src: url('/assets/IBMPlexSans-Medium.ttf') format("truetype");
}
@font-face {
  font-family: 'WorkSans-Italic';
  src: url('/assets/WorkSans-Italic-VariableFont_wght.ttf') format("truetype");
}
@font-face {
  font-family: 'UbuntuMono-Regular';
  src: url('/assets/UbuntuMono-Regular.ttf') format("truetype");
}

// Helper functions
@function pow($base, $exponent) {
  $result: 1;
  @for $_ from 1 through $exponent {
    $result: $result * $base;
  }
  @return $result;
}



// Side margins
$sizes: 0px, 576px, 992px, 1200px;
$size_labels: "small", "medium", "large", "x-large";
// s: 0-576px: phones
// m: 576-992px: landscape phones, split-view desktops
// l: 992px-1200px: tablets/small desktops
// xl: 1200px-?: large desktops
@mixin media_queries ($property, $values) {
  @for $i from 1 through length($sizes) {
    $size: nth($sizes, $i);
    $value: nth($values, $i);
    @media screen and (min-width: $size) {
      #{$property}: $value
    }
  }
}

// Colour scheme
$white-af: #ffffff;
$off-white: #f9f9f9;
$not-rlly-white: #dbdbdb;
$see-through-white: rgba($white-af, 0.5);
$black-af: #000000;
$off-black: #111111;
$not-rlly-black: #373737;

$theme-blue: #0F3278;
$theme-greenish-blue: #063A57;
$theme-pale-blue: #DFE8FB;


// Reset some basic elements
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}
a {
  color: $off-black;
  text-decoration: none; /* no underline */
}

// Set box-sizing
* {
  box-sizing: border-box;
}

// Default font properties
html {
  font-family: 'Lato-Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 100%;
  color: $off-black;
}

// Page properties
.page-content > * {
  padding-bottom: 3rem; // extra breathing space at the bottom of the page
}

// Container styles
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// Custom scrollbar
body::-webkit-scrollbar {
  display: none;
}

// ensure page background covers at least all the remaining space below the header
html {
  height: 100%;
  
  > body {
    display: flex;
    flex-direction: column;
    height: 100%;

    >.header {
      flex: 0 0;
    }
    >.page-content {
      flex: 1 1;

      > :first-child {
        height: 100%;
      }
    }
  }
}

.header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: $white-af;
  box-shadow: 0px 6px 16px 0px rgba($not-rlly-black, 0.06);

  >.flex-row {
    @include media_queries(width, 100% 700px 900px 900px);
    justify-content: space-evenly;
  }
}

.tab {
  $tab-padding-y: 0.5rem;
  font-family: 'Oswald';
  font-size: 1.3rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  @include media_queries(width, 0 8rem 9rem 10rem);
  padding: $tab-padding-y 1.5rem;
  text-align: center;

  &.tab_main {
    position: absolute;
    padding: $tab-padding-y 0;
    min-width: 0;
    @include media_queries(left, 0 16px 16px 32px); // TODO: convert to hamburger menu when small
    @include media_queries(width, 3rem 3rem 6rem 8rem);
    background: red; // TODO: replace with a lihaan when large enough
  }
}


.home {
  background: linear-gradient(180deg, $theme-greenish-blue 0%, $off-black 100%);
}


.introduction {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 3.5rem;

  $intro-flex-row-width: 100%, 80%, 775px, 850px;
  >.flex-row {
    flex-wrap: wrap;
    justify-content: center;
    @include media_queries(width, $intro-flex-row-width);
  }

  $line-spacing: 2em;
  &::before {
    right: $line-spacing;
  }
  &::after {
    left: $line-spacing;
  }
  &::after, &::before {
    content: "";
    position: absolute;
    background:#fff;
    @include media_queries(width, 0 0 calc((100% - #{nth($intro-flex-row-width, 3)}) / 2 - 2 * #{$line-spacing}) calc((100% - #{nth($intro-flex-row-width, 4)}) / 2 - 2 * #{$line-spacing}));
    height: 1px;
  }

  $pic-ratio: 45%, 30%, 30%, 30%;
  $margin-right-ratio: 0 8% 8% 8%;
  // nth($pic-ratio, 1) and nth($info-ratio, 1) must >100% to force a flex-wrap
  $info-ratio: 75%, 100% - nth($pic-ratio, 2) - nth($margin-right-ratio, 2), 100% - nth($pic-ratio, 3) - nth($margin-right-ratio, 3), 100% - nth($pic-ratio, 4) - nth($margin-right-ratio, 4);
  .profile_pic {
    @include media_queries(width, $pic-ratio);
    @include media_queries(margin-bottom, 1rem 0 0 0);
    @include media_queries(margin-right, $margin-right-ratio);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
  
    img {
      max-height: 100%;
      max-width: 100%;
      border-radius: 1000px;
      object-fit: contain;
    }
  }
  
  .profile_info {
    @include media_queries(width, $info-ratio);
  
    .main {
      font-family: 'Quicksand';
      font-size: 1.55rem;
      line-height: 150%;
      color: $off-white;
    }
    .details {
      font-family: 'Lato-Light';
      font-size: 1.1rem;
      line-height: 165%;
      color: $not-rlly-white;
      margin-top: 1rem;
    }
  
    >.flex-row {
      margin-top: 1.5rem;
      justify-content: space-between;
      .button {
        width: 30%;
      }
    }
  }

}



.button {
  min-width: 3rem;
  min-height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'IBMPlexSans-Medium';
  font-size: 0.9rem;
  border-radius: 8px;

  $button-shadow-size: 2px 6px 16px 0;
  &.linkedin {
    background: #2467C2;
    box-shadow: $button-shadow-size rgba($not-rlly-black, 0.15);
    color: $white-af;
  }
  &.github {
    background: $white-af;
    box-shadow: $button-shadow-size rgba($not-rlly-black, 0.15);
    color: $black-af;
  }
  &.behance {
    background: $white-af;
    box-shadow: $button-shadow-size rgba($not-rlly-black, 0.15);
    color: #4176f9;
  }

  img {
    width: 1.5rem
  }

  .label {
    margin: 0 0 0 0.75rem;
    @include media_queries(display, none none inline inline);
  }
}

.featured {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2.5rem;

  >.flex-col {
    @include media_queries(width, 87.5% 87.5% 85% 80%);
    max-width: 1200px;
  }

  .page_title {
    font-family: 'Lato-Medium';
    font-size: 1.5rem;
    color: $see-through-white;
    text-transform: uppercase;
    @include media_queries(text-align, center left left left);
    letter-spacing: 0.4rem;
  }

  li {
    list-style-type: none;
    @include media_queries(margin-bottom, 3rem 3rem 2rem 2rem);

    &:first-of-type {
      margin-top: 1rem;
    }
  }
}


.featured_item {
  display: flex;
  flex-direction: row;
  @include media_queries(flex-wrap, wrap-reverse nowrap nowrap nowrap);
  @include media_queries(align-content, flex-end normal normal normal);

  .info {
    @include media_queries(width, 100% 60% 45% 38%);
    background: #fff;
    padding: 1rem 1.5rem;
    @include media_queries(border-top-left-radius, 0px 8px 8px 8px);
    @include media_queries(border-top-right-radius, 0 0 0 0);
    @include media_queries(border-bottom-right-radius, 8px 0 0 0);
    @include media_queries(border-bottom-left-radius, 8px 8px 8px 8px);
    /* display: flex;
    flex-direction: column;
    max-height: 20rem;
    @include media_queries(min-height, 45vw 40vw 30vw 15vw); hard to ge the right values to make all list items the same height, still tolerable ui issue */

    .title {
      font-family: 'WorkSans-Italic';
      font-weight: 700;
      font-size: 2.4rem;
      line-height: 120%;
      letter-spacing: -0.5px;
      // flex: 1 1;
    }

    .description {
      margin-top: 1.2rem;
      line-height: 150%;
      color: $not-rlly-black;
      font-size: 1rem;
      // flex: 1 1;
    }

    >.flex-row {
      margin-top: 2rem;
      // flex: 0 1;
    }
  }
  .graphic {
    @include media_queries(width, 100% 40% 55% 62%);
    @include media_queries(min-height, 12rem 0 0 0);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    @include media_queries(border-top-left-radius, 8px 0 0 0);
    @include media_queries(border-top-right-radius, 8px 8px 8px 8px);
    @include media_queries(border-bottom-right-radius, 0 8px 8px 8px);
    @include media_queries(border-bottom-left-radius, 0 0 0 0);
    
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      background: linear-gradient(180deg, rgba(12, 10, 26, 0.1) 0%, rgba(255, 255, 255, 0) 44.79%, rgba(255, 255, 255, 0) 57.8%, rgba(255, 255, 255, 0) 57.81%, rgba(12, 10, 26, 0.2) 100%);
    } 

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}


.tag {
  padding: 0.5rem 1rem;
  border-radius: 100px;
  margin-right: 1rem;
  font-family: 'Quicksand';
  font-weight: 700;
  font-size: 0.8rem;
  color: $off-black;

  &.data_science {
    background: #FFDD64;
  }
  &.machine_learning {
    background: #90F0A5;
  }
  &.mobile_app {
    background: #FFAC9A;
  }
  &.ui_design {
    background: #FFB4EE;
  }
}

.post {
  background: #F9F9F9;
}


$comfortable-reading-width: 70% 70% 700px 700px;

.post_header {
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;

  >.flex-col {
    @include media_queries(width, $comfortable-reading-width);

    .info {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-family: 'Quicksand';
      font-size: 1rem;
      font-weight: 700;
      letter-spacing: 1px;
      color: $black-af;
      text-transform: uppercase;
    }
  
    .title {
      margin-top: 2rem;
      font-family: 'WorkSans-Italic';
      font-weight: 700;
      font-size: 2.4rem;
      line-height: 140%;
      letter-spacing: -0.5px;
    }
  
    .description {
      font-family: 'Lato-Light';
      font-size: 1.5rem;
      line-height: 150%;
      color: $off-black;
      margin-top: 1rem;
      padding: 0.1rem 0 0.2rem 1.5rem;
      position: relative;
  
      &::before {
        content: '';
        position: absolute;
        width: 0.5rem;
        height: 100%;
        background: $theme-blue;
        top: 0;
        left: 0;
      }
    }
  
    .flex-row {
      margin-top: 2rem
    }
    .tag {
      font-size: 1rem;
      margin-right: 1.3rem;
    }
  }
}

.post_content {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;

  >.flex-col {
    @include media_queries(width, $comfortable-reading-width);

    >* {
      margin-bottom: 1.5rem;
    }
  
    >p {
      font-size: 1rem;
      line-height: 170%;
      >img {
        width: 100%;
      }
    }

    >blockquote {
      font-family: 'Lato-Italic';
      font-size: 1.4rem;
      line-height: 170%;
      background: $theme-pale-blue;
      color: $not-rlly-black;
      padding: 1.2rem 1.2rem;
      letter-spacing: 0.5px;
      border-radius: 4px;
    }

    .language-plaintext {
      font-family: 'UbuntuMono-Regular';
      font-size: 1rem;
      line-height: 170%;
      background: $not-rlly-white;
      color: $not-rlly-black;
      padding: 1.2rem 1.2rem;
      letter-spacing: 0.5px;
      border-radius: 4px;
      color: $black-af;

      code {
        white-space: break-spaces;
      }
    }
  }
}

.post_footer {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;

  $mini-profile-padding-x: 2rem;
  $mini-profile-width: 4em;
  >.flex-row {
    @include media_queries(width, $comfortable-reading-width);
    background: $theme-pale-blue;
    padding: 1.5rem $mini-profile-padding-x;
    border-radius: 4px;

    .mini_profile {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      >.flex-col{
        align-items: center;

        >.profile_pic {
          width: $mini-profile-width;
          img {
            width: 100%;
          }
        }
  
        .name {
          margin-top: 0.25rem;
          text-align: center;
          font-family: 'Quicksand';
          font-size: 1.3rem;
          font-weight: 500;
          color: $off-black;
        }
      }
    }

    .separator {
      width: 1px;
      height: 100%;
      background: rgba($black-af, 0.2);
      margin: 0 $mini-profile-padding-x;
    }

    .related_articles {
      width: calc(100% - $mini-profile-width);

      .title {
        font-family: 'Quicksand';
        font-size: 1.1rem;
        font-weight: 700;
        color: $off-black;
      }

      ul {
        list-style-image: url('/assets/arrow_bullet.svg');
        list-style-position: inside;

        li {
          margin-top: 0.5rem;
          a {
            font-family: 'Quicksand';
            font-size: 1rem;
            font-weight: 500;
            color: $theme-blue;
          }
        }
      }
    }

  }
}