---
layout: mydefault
title: home
---

<div class="home">
  <div class="introduction">

    <div class="flex-row">

      <div class="profile_pic"><img src="assets/profile_pic.svg"/></div>

      <div class="profile_info">
        <div class="main">Hello! I’m <b>Li Han</b>, a 1st Year Computer Science student at Nanyang Technological
          University.</div>
        <div class="details">I am a passionate and ambitious programmer with a keen interest in data science and machine
          learning, but feel free to explore the rest of my developer (and design) portfolio!</div>
        
          <div class="flex-row">
          <a class="linkedin button" href="https://www.linkedin.com/in/lihanong/" rel="author">
            <img src="assets/linkedin.svg"/>
            <div class="label">Get In Touch</div>
          </a>
          <a class="github button" href="https://github.com/lihaan" rel="author">
            <img src="assets/github.svg"/>
            <div class="label">Repositories</div>
          </a>
          <a class="behance button" href="https://www.behance.net/lihanong" rel="author">
            <img src="assets/behance.svg"/>
            <div class="label">Mockups</div>
          </a>
        </div>
      </div>

    </div>

  </div>

  <div class="featured">
    <div class="flex-col">
      <div class="page_title">Featured Articles</div>
      <ul>
        <li>
          <div class="featured_item">
            <div class="info">
              <a class="title" href="" rel="">Visualising NTU Confessions Data</a>
              <div class="description">A dive into classifying the user-submitted confession posts found on the NTU
                Confessions website</div>
              <div class="flex-row">
                <div class="data_science tag">Data Science</div>
                <div class="machine_learning tag">Machine Learning</div>
              </div>
            </div>
            <div class="graphic"><img src="/assets/Rectangle3.png" /></div>
          </div>
        </li>
        <li>
          <div class="featured_item">
            <div class="info">
              <a class="title" href="" rel="">Your Instagram Album Companion</a>
              <div class="description">Introducing PerfectFit, a mobile app that enables users to easily crop or add
                whitespace to multiple photos at one go!</div>
              <div class="flex-row">
                <div class="mobile_app tag">Data Science</div>
                <div class="ui_design tag">UI Design</div>
              </div>
            </div>
            <div class="graphic"><img src="/assets/Group2.png" /></div>
          </div>
        </li>
      </ul>
    </div>
  </div>



</div>
</div>