---
layout: mydefault
---

<div class="home">
  <div class="introduction">

    <div class="profile_pic"><img src="assets/profile_pic.svg"/></div>

    <div class="profile_info">
      <div class="main">Hello! I’m <b>Li Han</b>, a Year 1 Computer Science student at Nanyang Technological
        University.</div>
      <div class="details">I am a passionate and ambitious programmer with a keen interest in data science and machine
        learning, but feel free to explore the rest of my developer (and design) portfolio!</div>
      
        <div class="flex-row">
        <div class="linkedin button">
          <img src="assets/linkedin.svg"/>
          <div class="label">Get In Touch</div>
        </div>
        <div class="github button">
          <img src="assets/github.svg"/>
          <div class="label">Repositories</div>
        </div>
        <div class="behance button">
          <img src="assets/behance.svg"/>
          <div class="label">Mockups</div>
        </div>
      </div>
    </div>

  </div>

  <div class="featured">
    <div class="page_title">Featured</div>
    <ul>
      <li>
        <div class="featured_item">
          <div class="info">
            <div class="title">Visualising NTU Confessions Data</div>
            <div class="description">A dive into classifying the user-submitted confession posts found on the NTU
              Confessions website</div>
            <div class="tags">
              <div class="data_science tag">Data Science</div>
              <div class="machine_learning tag">Machine Learning</div>
            </div>
          </div>
          <div class="graphic"><img src="assets/Rectangle3.png" /></div>
        </div>
      </li>
      <li>
        <div class="featured_item">
          <div class="info">
            <div class="title">Your Instagram Album Companion</div>
            <div class="description">Introducing PerfectFit, a mobile app that enables users to easily crop or add
              whitespace to multiple photos at one go!</div>
            <div class="tags">
              <div class="mobile_app tag">Data Science</div>
              <div class="ui_design tag">UI Design</div>
            </div>
          </div>
          <div class="graphic"><img src="assets/Group2.png" /></div>
        </div>
      </li>
    </ul>
  </div>



</div>
</div>