---
layout: mydefault
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post_header">
    <div class="flex-col">
      <div class="info">
        <div class="type">Project</div>
        <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {{ page.date | date: "%-d %b %Y" }}
        </time>
      </div>
      <div class="title p-name" itemprop="name headline">{{ page.title | escape }}</div>
      <div class="description p-summary" itemprop="abstract">{{ page.description}}</div>
      {%- if page.categories -%}
      <div class="flex-row">
        {% assign metadata = "" %}
        {% for category in page.categories %}
        {% capture keyword_metadata %}
        {% if category != page.categories.last %}
        {{ keyword_metadata | append: category | append: ", " }}
        {% else %}
        {{ keyword_metadata | append: category }}
        {% endif %}
        {% endcapture %}
        <div class="{{category | downcase | replace: " ", "_" }} tag p-category" itemprop="">{{ category }}</div>
        {% endfor %}
        <meta itemprop="keywords" content="{{keyword_metadata}}" />
      </div>
      {%- endif -%}
    </div>
  </header>

  <div class="post_content e-content" itemprop="articleBody">
    <div class="flex-col">
      {{ content }}
    </div>
  </div>

  <div class="post_footer">
    <div class="flex-row">
      <div class="mini_profile">
        <div class="flex-col">
          <div class="profile_pic"><img class="u-photo" src="/assets/profile_pic.svg" itemprop="image" /></div>
          <span class="name" itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span class="p-author h-card" itemprop="name">{{ page.author }}</span>
          </span>
        </div>
      </div>
      <div class="separator"></div>
      <div class="related_articles">
        <div class="title">Related Articles</div>
        <ul>
          <li><a class="u-url" rel="" href="{{ page.rel-article-1.url | relative_url }}">{{ page.rel-article-1.title
              }}</a></li>
          <li><a class="u-url" rel="" href="{{ page.rel-article-2.url | relative_url }}">{{ page.rel-article-2.title
              }}</a></li>
          <li><a class="u-url" rel="" href="{{ page.rel-article-3.url | relative_url }}">{{ page.rel-article-3.title
              }}</a></li>
        </ul>
      </div>
    </div>
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>

  <!-- {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%} -->

</article>